#helpPane {
	-fx-background-image: url('background1.jpg');	
	-fx-background-repeat: no-repeat; 
	-fx-background-size: 100% 100%; 
	-fx-border-radius: 20px;
}

#helpText {
	-fx-background-color: #F0A830; 
}