#layout {
	-fx-background-image: url('background4.jpg');	
	-fx-background-repeat: no-repeat; 
	-fx-background-size: 100% 100%; 
	-fx-border-radius: 20px;
}

#taskTable {
	-fx-border-color: #78C0A8; 
	-fx-border-width: 3px; 
	-fx-background-radius: 1.2em; 
	-fx-border-radius: 1.2em;
}

#taskTable .column-header .label {
	-fx-text-fill: white;
}

#taskTable .column-header {
	-fx-background-color: #3B8686;
	-fx-border-width: 0.1;
	-fx-border-color: white;
    -fx-effect: innershadow( gaussian, #3B8686, 5, 0, 5, 5 );
}

#indexColumn {
	-fx-alignment: CENTER; 
	-fx-font-size: 17; 
	-fx-font-family: 'Agency FB';	
}

#statusColumn {
	-fx-alignment: CENTER; 
	-fx-font-size: 17; 
	-fx-font-family: 'Agency FB', 'Times New Roman';	
}
		
#taskColumn {
	-fx-font-size: 17; 
	-fx-font-family: 'Agency FB';	
	-fx-alignment: CENTER-LEFT
}

#timeColumn {
	-fx-font-size: 17; 
	-fx-font-family: 'Agency FB';	
}

#feedbackBox {
	-fx-background-color: white; 
	-fx-background-radius: 8 8 0 0;
}

#userInput {
	-fx-background-radius: 0.5em;
}

#taskDateList {
	-fx-font-family: 'Agency FB';
	-fx-font-size: 17; 
	-fx-background-color: white; 
	-fx-background-radius: 10px; 
	-fx-border-color: #78C0A8; 
	-fx-border-radius: 10px;
}

.doneTasks {
	-fx-background-color: lightgray;
}

.undoneTasks {
	-fx-background-color: lightyellow;
}